@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(248, 184, 88);
    font-family: 'Zilla Slab', serif;
}

.wrapper-upper {
    display: flex;
    flex-direction: column;
    height: auto;
}

.background-image {
    position: fixed;
    height: 100vh;
    z-index: -1;
    opacity: 0.2;
    align-self: center;
}

.nav-wrapper {
    padding: 50px;
}

.nav ul {
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: rgb(255, 136, 0);
    min-height: 5vh;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav li {
    flex: 3;
}

.nav li a {
    text-decoration: none;
    color: rgb(46, 46, 46);
}

.flex-nav .social {
    flex: 3;
}


@media all and (max-width:1000px) {

    .nav ul {
        flex-wrap: wrap;
        text-align: center;
        min-height: 100%;

    }

    .nav li {
        flex: 0 1 20%;
    }

    .nav .social {
        flex: 1 1 auto;
    }

}

@media all and (max-width:500px) {

    .nav li {
        flex-basis: 100%;
        height: 25px;
    }

}

.head-section h1 {
    font-size: 60px;
    text-align: center;
}

.head-section h3 {
    font-size: 40px;
}

.head-section,
.about,
.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    text-align: justify;

}

.wrapper-middle,
.wrapper-lower {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    padding: 25px 0;
}


.reservations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status {
    align-self: center;
}

#current-status {
    display: flex;
    height: 40px;
    background: rgb(82, 134, 4);
    color: white;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button {
    margin-top: 20px;
}

.input-textarea {
    width: 35vw;
    height: 20vh;
}

@media all and (max-width:500px) {
    .input-textarea {
        width: 80vw;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 500px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}

@media all and (max-width:500px) {
    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 250px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
        padding: 0 25px;
    }
}