@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #C7B57B;
    font-family: 'Zilla Slab', serif;
}

.wrapper-upper {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}

.background-image {
    position: fixed;
    width: 100rem;
    z-index: -1;
    opacity: 0.2;
    left: 50%;
    transform: translateX(-50%);
}

@-moz-document url-prefix() {
    .background-image {
      width: 110rem;
    }
  }

#logo {
    width: 25%;
    height: auto;
}

@media all and (max-width:500px) {

    #logo {
        width: 50%;
    }

}

.nav-wrapper {
    padding: 25px;
}

.nav ul {
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: #CC3939;
    min-height: 5vh;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    height: 5vh;
}

.nav li:hover {
    background: #882222;
}

.nav li a {
    text-decoration: none;
    color: #e9e9e9;


}

.flex-nav .social {
    flex: 3;
}


@media all and (max-width:1000px) {

    .nav-wrapper {
        padding: 25px 75px;
    }

    .nav ul {
        flex-wrap: wrap;
        text-align: center;
        min-height: 100%;

    }

    .nav li {
        flex: 0 1 20%;
    }

    .nav .social {
        flex: 1 1 auto;
    }

}

@media all and (max-width:500px) {

    .nav li {
        flex-basis: 100%;
        height: 25px;
    }

}

.head-section h1 {
    font-size: 60px;
    text-align: center;
}

.head-section h3 {
    font-size: 35px;
}

.head-section ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.head-section {
    min-height: 75vh;
    width: 85vw;
}

.head-section,
.about,
.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px 25px 25px;
    text-align: center;
    margin: 0 auto;
    border-bottom: solid 1px black;
}

.hours ul {
    list-style: none;
    padding: 0;
}

.reservations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
    padding-bottom: 25px;
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    border-bottom: solid 1px black;
    padding-bottom: 25px;


}

#current-status {
    display: flex;
    height: 40px;
    width: 100px;
    background: rgb(82, 134, 4);
    color: white;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button {
    margin-top: 20px;
}

.input-textarea {
    width: 35vw;
    height: 20vh;
}

@media all and (max-width:500px) {
    .input-textarea {
        width: 80vw;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5vh;
    margin: 0 10vw;
}


@media (max-width: 500px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

@media (max-width: 500px) {
    .menu {
        flex-direction: column;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    max-width: 90vw;
    justify-content: center;
}

@media all and (max-width:500px) {
    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

div.gallery img {
    width: 250px;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    display: flex;
    flex-direction: column;
    padding: 0 6px;
    float: left;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
        padding: 0 25px;
    }
}